<div class="grid p-fluid" id="video-display">
    <div>
        <video id="video" width="300" height="200"></video>
    </div>

    <p-selectButton *ngIf="selectableVideoDevices" [options]="selectableVideoDevices" [(ngModel)]="selectedVideoDevice"
        optionLabel="label" optionValue="deviceId" (onChange)="startQRDecoding()"></p-selectButton>

    <div *ngIf="noVideoInputDevicesFound">
        <span style="color: red; font-size: 150%;">Could not find any cameras</span>
    </div>
    <label>Result:</label>
    <pre><code id="result">{{result}}</code></pre>
</div>
